<table class="table">
    <tr><td>Restaurant</td><td>Foods</td><td>Price</td></tr>
    {% for restaurant_name,menu in menus %}
        <tr>
            <td>{{ restaurant_name }}</td>
            <td><pre>{{ menu.getFoods()|join("\n") }}</pre></td>
            <td>{{ menu.getPrice() }} Ft</td>
        </tr>
    {% endfor %}
</table>